 <div class="jumbotron">
    <h3 class="display-12 text-center">Shopping Cart</h3>
    <div class="container height=50px">
      <div class ="product">
        <a href="#"(click)="filter('')">
          <h4>All products</h4>
        </a>
     </div>
     <div class ="product">
        <a href="#"(click)="filter('Premium')">
          <h4>Premium</h4>
        </a>
      </div>
      <div class ="product">
        <a href="#"(click)="filter('Tamilnadu')">
          <h4>Tamilnadu</h4>
        </a>
      </div>
    </div>
</div>

<div class="container">
   <div class="row">
     <div class="col-12">
        <table class="table table-image">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">image</th>
              <th scope="col">Cost</th>
              <th scope="col">Availability</th>
              <th scope="col">details</th>
              <th scope="col">Category</th>
              <th scope="col">Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of filterCategory">
              <th >{{data.p_id}}</th>
              <td>{{data.p_name}}</td>
              <td><img [src]="data.p_image"width="200"height="200"></td>
              <td>{{data.p_cost}}</td>
              <td>{{data.p_availability}}</td>
              <td>{{data.p_details}}</td>
              <td>{{data.p_category}}</td>
              <td>
               <button type="button"(click)="Decrement()"><i class="fa fa-minus"></i></button>
               <input type="text" [value]="quantity">
               <button type="button"(click)="Increment()"><i class="fa fa-plus"></i></button>
                
              
              </td>
            </tr>
          </tbody>
        </table>
   </div>
  </div>
</div> 
